body{
    background-color: rgb(12, 11, 0);
    color: rgb(56, 95, 55);
}
h1{
    color: rgb(255, 255, 255);
}
section{
    background: rgb(8, 8, 8);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-items: center;
    justify-content: center;
}
